<%- include("header") -%>
  <div class="box" id="heading">
       <h1><%= day %></h1>
 </div>

 <div class="box">
     
        <% for(var i=0;i<items.length;i++) { %>
         <div class="item">
            <input type="checkbox">
            <p><%= items[i] %></p>
         </div>
        <% } %>    
    
     <form action="/" method="post">
        <input type="text" name="item" placeholder="new Item" autocomplete="off">
        <button type="submit" name="button" >+</button>
        </form>
    </div>
<%- include("footer") -%>